@import "tailwindcss";

body {
  font-family: "Times New Roman", Times, serif;
}

.pt-11 {
  font-size: 14.7px;
}

@theme {
  --text-16pt: 21.3px;
  --text-12pt: 16px;
  --text-11pt: 14.7px;
}
@media print {
  @page {
    size: A4;
    margin: 0mm;
  }

  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
